*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  line-height: 1.5; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit;
  outline: none; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

a {
  display: inline-block;
  color: inherit;
  text-decoration: none; }

ul,
li {
  list-style: none; }

body {
  line-height: 1.5;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  background-color: #fdf9f1;
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: calc(1010px + 15px * 2);
  padding: 0 15px;
  margin: 0 auto; }

.text-linear {
  font-size: 52px;
  font-weight: 600;
  line-height: calc(62 / 52);
  background: linear-gradient(93.52deg, #e6ff4b 8.71%, #00bd82 98.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; }

.heading {
  color: #1e1e1e;
  font-weight: 600; }
  .heading--big {
    font-size: 50px;
    line-height: calc(63 / 50); }
  .heading--normal {
    font-size: 40px;
    line-height: calc(50 / 40); }

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: calc(28 / 18);
  color: #545454; }

.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  border-radius: 10px;
  padding: 18px 30px; }
  .btn--primary {
    background-color: #00bd82;
    color: white; }

.header {
  background-color: #1e1e1e;
  padding: 54px 0 422px; }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    display: flex;
    align-items: center;
    gap: 0 15px; }
    .header__logo--text {
      font-weight: 600;
      font-size: 25px;
      line-height: calc(31 / 25); }
  .header .menu {
    display: flex;
    align-items: center;
    gap: 0 38px; }
    .header .menu__link {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(26 / 16);
      color: #b5b3af;
      transition: color 0.2s linear; }
      .header .menu__link:hover {
        color: white; }
