.header,
.countdown,
.newsletters,
.thepoints,
.services,
.tools,
.testmonials,
.library,
.footer {
  display: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  line-height: 1.5; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit;
  outline: none; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

a {
  display: inline-block;
  color: inherit;
  text-decoration: none; }

ul,
li {
  list-style: none; }

body {
  line-height: 1.5;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  background-color: #fdf9f1;
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: calc(1010px + 15px * 2);
  padding: 0 15px;
  margin: 0 auto; }

.main__logo {
  display: flex;
  align-items: center;
  gap: 0 15px; }
  @media (max-width: 767px) {
    .main__logo {
      gap: 0 12px; } }
  .main__logo--text {
    font-weight: 600;
    font-size: 25px;
    line-height: calc(31 / 25); }
    @media (max-width: 767px) {
      .main__logo--text {
        font-size: 17px; } }

.text-linear {
  background: linear-gradient(93.52deg, #e6ff4b 8.71%, #00bd82 98.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; }

.heading {
  color: #1e1e1e;
  font-weight: 600; }
  .heading--big {
    font-size: 50px;
    line-height: calc(63 / 50); }
    @media (max-width: 767px) {
      .heading--big {
        font-size: 30px;
        line-height: calc(40 / 30); } }
  .heading--small {
    font-size: 40px;
    line-height: calc(50 / 40); }
    @media (max-width: 767px) {
      .heading--small {
        font-size: 24px;
        line-height: calc(34 / 24); } }

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: #545454; }
  @media (max-width: 767px) {
    .text {
      font-size: 14px;
      line-height: calc(24 / 14); } }

.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.12;
  border-radius: 10px;
  padding: 18px 30px; }
  @media (max-width: 767px) {
    .btn {
      padding: 12px 20px;
      font-weight: 600;
      font-size: 14px; } }
  .btn--primary {
    background-color: #00bd82;
    color: white; }

.header {
  display: block;
  background-color: #1e1e1e;
  padding: 54px 0 1px;
  margin-bottom: calc(220px + 140px); }
  @media (max-width: 767px) {
    .header {
      margin-bottom: 136px; } }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 83px; }
    @media (max-width: 767px) {
      .header__top {
        margin-bottom: 55px; } }
  .header .menu {
    display: flex;
    align-items: center;
    gap: 0 38px; }
    @media (max-width: 767px) {
      .header .menu {
        display: none; } }
    .header .menu__link {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(26 / 16);
      color: #b5b3af;
      transition: color 0.2s linear; }
      .header .menu__link:hover {
        color: white; }
  .header__button {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16);
    padding: 9px 25px;
    color: white;
    border-radius: 6px;
    background-color: rgba(181, 179, 175, 0.2);
    text-align: center; }
  .header__icon-menu {
    display: none; }
    @media (max-width: 767px) {
      .header__icon-menu {
        display: block; } }
  .header__heading {
    font-weight: 600;
    font-size: 52px;
    line-height: calc(62 / 52);
    text-align: center;
    margin-bottom: 54px; }
    @media (max-width: 767px) {
      .header__heading {
        font-size: 30px;
        line-height: calc(40 / 30);
        padding: 0 32px;
        margin-bottom: 35px; } }
  .header__buttons {
    display: flex;
    align-items: center;
    gap: 0 28px;
    margin-bottom: 88px;
    justify-content: center; }
    @media (max-width: 767px) {
      .header__buttons {
        gap: 0 20px;
        margin-bottom: 64px; } }
    .header__buttons .btn-works {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      align-items: center;
      gap: 0 16px;
      color: white; }
      @media (max-width: 767px) {
        .header__buttons .btn-works span {
          display: none; } }
  .header__image {
    margin-bottom: -220px; }
    @media (max-width: 767px) {
      .header__image {
        margin-bottom: -76px; } }
    .header__image img {
      width: 100%; }

.countdown {
  display: block;
  background-color: #e2f471;
  padding: 70px 0;
  margin-bottom: 140px; }
  @media (max-width: 767px) {
    .countdown {
      padding: 60px 0;
      margin-bottom: 70px; } }
  .countdown__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 100px; }
    @media (max-width: 767px) {
      .countdown__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 64px 0px; } }
  .countdown__item {
    text-align: center; }
  .countdown__title {
    font-weight: 600;
    font-size: 44px;
    line-height: calc(55 / 44);
    color: #1e1e1e; }
  .countdown__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: #4f4d49; }

.newsletters {
  display: block;
  margin-bottom: 218px; }
  @media (max-width: 767px) {
    .newsletters {
      margin-bottom: 100px; } }
  .newsletters__header {
    margin-bottom: 159px; }
    @media (max-width: 767px) {
      .newsletters__header {
        margin-bottom: 98px; } }
  .newsletters__heading {
    text-align: center;
    max-width: 629px;
    margin: 0 auto 18px; }
    @media (max-width: 767px) {
      .newsletters__heading {
        max-width: none;
        margin-bottom: 12px; } }
  .newsletters__desc {
    max-width: 475px;
    margin: 0 auto;
    text-align: center; }
    @media (max-width: 767px) {
      .newsletters__desc {
        max-width: none;
        margin-bottom: 0; } }
  .newsletters__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px; }
    @media (max-width: 767px) {
      .newsletters__main {
        flex-direction: column-reverse; } }
  .newsletters__content {
    flex: 1;
    max-width: 555px; }
  .newsletters__title {
    max-width: 378px;
    margin-bottom: 18px; }
    @media (max-width: 767px) {
      .newsletters__title {
        text-align: center; } }
  .newsletters__text {
    margin-bottom: 37px; }
    @media (max-width: 767px) {
      .newsletters__text {
        margin-bottom: 65px; } }
  .newsletters__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 20px; }
    @media (max-width: 767px) {
      .newsletters__list {
        flex-direction: column;
        gap: 70px 0; } }
  .newsletters__item {
    flex-grow: 1;
    flex-basis: 0; }
    .newsletters__item--icon {
      width: 62px;
      height: 62px;
      margin-bottom: 19px; }
    .newsletters__item--name {
      font-weight: 600;
      font-size: 20px;
      line-height: calc(25 / 20);
      margin-bottom: 9px; }
    .newsletters__item--desc {
      margin-bottom: 28px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .newsletters__item--link {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(26 / 16);
      color: #1e1e1e;
      border-bottom: 1px solid transparent;
      transition: border 0.3s ease-out; }
      .newsletters__item--link:hover {
        border-bottom: 1px solid #00bd82; }
  .newsletters__image {
    flex-shrink: 0; }
    @media (max-width: 767px) {
      .newsletters__image {
        margin-bottom: 100px; } }

.thepoints {
  display: block;
  margin-bottom: 250px; }
  @media (max-width: 767px) {
    .thepoints {
      margin-bottom: 60px; } }
  .thepoints__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px; }
    @media (max-width: 767px) {
      .thepoints__main {
        flex-direction: column;
        gap: 64px 0; } }
  .thepoints__image {
    flex-shrink: 0; }
  .thepoints__content {
    max-width: 548px;
    flex: 1; }
    @media (max-width: 767px) {
      .thepoints__content {
        max-width: none;
        flex: auto;
        padding: 0 15px; } }
  .thepoints__heading {
    margin-bottom: 18px; }
    @media (max-width: 767px) {
      .thepoints__heading {
        margin-bottom: 12px; } }
  .thepoints__text {
    margin-bottom: 28px; }
    @media (max-width: 767px) {
      .thepoints__text {
        margin-bottom: 22px; } }
    .thepoints__text--bold {
      font-weight: bold;
      margin-bottom: 51px; }
      @media (max-width: 767px) {
        .thepoints__text--bold {
          margin-bottom: 49px; } }
  @media (max-width: 767px) {
    .thepoints__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px; } }

.services {
  display: block;
  margin-bottom: 142px; }
  .services__heading {
    text-align: center;
    margin-bottom: 58px; }
    @media (max-width: 767px) {
      .services__heading {
        margin-bottom: 40px; } }
  .services__list {
    display: flex;
    align-items: center;
    gap: 0 23px; }
    @media (max-width: 767px) {
      .services__list {
        flex-direction: column;
        gap: 20px 0; } }
  .services__item {
    padding: 43px 35px;
    cursor: pointer; }
    .services__item:hover {
      box-shadow: 0px 16px 250px 10px rgba(155, 155, 155, 0.25); }
      .services__item:hover .services__icon {
        background-color: #00bd82; }
        .services__item:hover .services__icon svg {
          fill: white; }
  .services__icon {
    width: 66px;
    height: 66px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background: rgba(0, 0, 0, 0.08);
    margin-bottom: 46px; }
    .services__icon svg {
      width: 30px;
      height: 30px;
      fill: #1e1e1e; }
  .services__title {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(25 / 20);
    color: #1e1e1e;
    margin-bottom: 13px; }
    @media (max-width: 767px) {
      .services__title {
        font-weight: 500;
        font-size: 25px;
        line-height: calc(32 / 25);
        margin-bottom: 18px;
        color: black; } }
  @media (max-width: 767px) {
    .services__desc {
      font-family: "DM Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: calc(20 / 16);
      color: #7f7d79; } }

.tools {
  display: block;
  background-color: #1e1e1e;
  padding: 70px 0;
  margin-bottom: 140px; }
  @media (max-width: 767px) {
    .tools {
      padding: 60px 0;
      margin-bottom: 70px; } }
  .tools__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px; }
    @media (max-width: 767px) {
      .tools__main {
        flex-direction: column;
        gap: 60px 0; } }
  .tools__heading {
    color: white; }
  .tools__content {
    max-width: 583px;
    flex: 1; }
    @media (max-width: 767px) {
      .tools__content {
        max-width: none;
        flex: none;
        text-align: center; } }
  .tools__heading {
    margin-bottom: 10px; }
  .tools__desc {
    color: #b5b3af;
    margin-bottom: 41px; }
  .tools__btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 19px; }
    @media (max-width: 767px) {
      .tools__btn {
        padding: 20px;
        display: flex;
        justify-content: center;
        font-size: 17px;
        line-height: calc(22 / 17); } }
  .tools__image {
    max-width: 400px; }

.testmonials {
  display: block;
  margin-bottom: 154px; }
  @media (max-width: 767px) {
    .testmonials {
      margin-bottom: 70px; } }
  .testmonials__heading {
    max-width: 596px;
    text-align: center;
    margin: 0 auto 76px; }
    @media (max-width: 767px) {
      .testmonials__heading {
        margin-bottom: 14px; } }
  .testmonials__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px; }
    @media (max-width: 767px) {
      .testmonials__item {
        flex-direction: column-reverse;
        gap: 30px 0; } }
  .testmonials__content {
    max-width: 571px;
    flex: 1; }
  .testmonials__message {
    font-weight: 400;
    font-size: 20px;
    line-height: calc(37 / 23);
    color: #1e1e1e;
    margin-bottom: 27px;
    position: relative; }
    .testmonials__message:after {
      position: absolute;
      right: 129px;
      bottom: -40px;
      content: "";
      display: inline-block;
      width: 70px;
      height: 41px;
      background: url(../images/img-quote.png) no-repeat 0 0;
      background-size: contain; }
  .testmonials__customer {
    font-weight: 300;
    font-size: 17px;
    line-height: calc(22 / 17);
    color: #7d7d7d;
    margin-bottom: 14px; }
  .testmonials__start--img {
    width: 116px;
    margin-bottom: 8px; }
  .testmonials__start--text {
    font-weight: 400;
    font-size: 17px;
    line-height: calc(22 / 17); }
  .testmonials__buttons {
    margin-top: 59px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 8px; }
    .testmonials__buttons a {
      width: 59px;
      height: 59px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dcd4c5;
      border-radius: 15px;
      transition: all 0.1s linear; }
      .testmonials__buttons a:hover {
        background-color: #00bd82; }
        .testmonials__buttons a:hover svg {
          stroke: white; }
      .testmonials__buttons a svg {
        stroke: black; }
  .testmonials .owl-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .testmonials .owl-buttons .owl-next,
    .testmonials .owl-buttons .owl-prev {
      width: 59px;
      height: 59px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dcd4c5;
      border-radius: 15px;
      transition: all 0.1s linear;
      opacity: 1; }
      .testmonials .owl-buttons .owl-next:hover,
      .testmonials .owl-buttons .owl-prev:hover {
        background-color: #00bd82; }
    .testmonials .owl-buttons .owl-next::after {
      content: url("../images/icon-arrow-next.svg");
      display: inline-block; }
    .testmonials .owl-buttons .owl-next:hover::after {
      content: url("../images/icon-arrow-next-h.svg"); }
    .testmonials .owl-buttons .owl-prev::after {
      content: url("../images/icon-arrow-prev.svg");
      display: inline-block; }
    .testmonials .owl-buttons .owl-prev:hover::after {
      content: url("../images/icon-arrow-prev-h.svg"); }
  .testmonials__image {
    max-width: 400px;
    flex-shrink: 0; }

.library {
  margin-bottom: 140px; }
  .library__title {
    margin-bottom: 31px; }
  .library__heading {
    text-align: center;
    margin-bottom: 10px; }
  .library__text {
    max-width: 327px;
    margin: 0 auto; }
  .library__tab .tab__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
    margin-bottom: 86px; }
    .library__tab .tab__nav a {
      font-weight: 600;
      font-size: 20px;
      line-height: calc(25 / 20);
      padding: 13px 25px;
      color: #1e1e1e; }
      .library__tab .tab__nav a:hover, .library__tab .tab__nav a.active {
        background-color: #1e1e1e;
        color: #e2f471;
        border-radius: 12px; }
  .library__tab .tab__content {
    margin-bottom: 40px; }
    .library__tab .tab__content .content-list {
      display: flex;
      align-items: center;
      gap: 0 30px; }
    .library__tab .tab__content .content-image {
      margin-bottom: 13px; }
    .library__tab .tab__content .content-cate {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 17px;
      line-height: calc(22 / 17);
      color: #00bd82; }
    .library__tab .tab__content .content-title {
      font-weight: 600;
      font-size: 22px;
      color: #1e1e1e;
      line-height: calc(32 / 22); }
  .library__tab .tab__link {
    text-align: center; }
    .library__tab .tab__link a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0 23px; }

.footer {
  background-color: #1e1e1e;
  padding: 80px 100px; }
  .footer__top {
    max-width: 447px;
    margin: 0 auto 76px;
    text-align: center; }
  .footer__heading {
    color: white;
    margin-bottom: 14px; }
  .footer__text {
    color: white;
    margin-bottom: 35px; }
  .footer__btnlink {
    display: inline-flex;
    align-items: center;
    gap: 0 10px; }
  .footer__bottom {
    display: flex;
    align-items: flex-start;
    gap: 0 50px; }
  .footer__info {
    max-width: 280px; }
    .footer__info .main__logo {
      margin-bottom: 31px; }
    .footer__info--text {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(26 / 16);
      color: #b5b3af;
      margin-bottom: 15px; }
  .footer__menu--content {
    display: flex;
    align-items: flex-start;
    gap: 0 30px; }
  .footer__menu--name {
    font-weight: 400;
    font-size: 18px;
    color: white;
    line-height: calc(28 / 18);
    margin-bottom: 22px; }
  .footer__menu--item:not(:last-child) {
    margin-bottom: 20px; }
  .footer__menu--item a {
    font-weight: 400;
    font-size: 18px;
    color: #b5b3af;
    line-height: calc(28 / 18); }
