body {
  line-height: 1.5;
  font-family: $primary-font;
  font-weight: 400;
  background-color: $body-color;
  max-width: $body-width;
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: calc(#{$container-width} + #{$gap} * 2);
  padding: 0 $gap;
  margin: 0 auto;
}
.main__logo {
  display: flex;
  align-items: center;
  gap: 0 15px;
  @include maxWidth(767px) {
    gap: 0 12px;
  }
  &--text {
    font-weight: 600;
    font-size: 25px;
    line-height: calc(31 / 25);
    @include maxWidth(767px) {
      font-size: 17px;
    }
  }
}
.text-linear {
  background: linear-gradient(93.52deg, #e6ff4b 8.71%, #00bd82 98.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.heading {
  color: $gray1e;
  font-weight: 600;
  &--big {
    font-size: 50px;
    line-height: calc(63 / 50);
    @include maxWidth(767px) {
      font-size: 30px;
      line-height: calc(40 / 30);
    }
  }
  &--small {
    font-size: 40px;
    line-height: calc(50 / 40);
    @include maxWidth(767px) {
      font-size: 24px;
      line-height: calc(34 / 24);
    }
  }
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: $gray54;
  @include maxWidth(767px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.12;
  border-radius: 10px;
  padding: 18px 30px;
  @include maxWidth(767px) {
    padding: 12px 20px;
    font-weight: 600;
    font-size: 14px;
  }
  &--primary {
    background-color: $primary-color;
    color: white;
  }
}
body.overlay {
  overflow-y: hidden;
  &::after {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: black;
    opacity: 0.7;
  }
}
.for-sp {
  display: none !important;
}
.for-pc {
  display: flex !important;
}

.image-abs {
  position: relative;
  padding: 90px 0;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    background: rgba(239, 231, 215, 0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
@media screen and (max-width: 767.98px) {
  .for-sp {
    display: flex !important;
  }
  .for-pc {
    display: none !important;
  }
  .image-abs {
    padding: 50px 0;
    &::after {
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .heading {
    &--big {
      font-size: 40px;
      line-height: calc(53 / 40);
    }
    &--small {
      font-size: 30px;
      line-height: calc(40 / 30);
    }
  }
}
