.library {
  margin-bottom: 140px;
  display: block;
  &__title {
    margin-bottom: 31px;
  }
  &__heading {
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    max-width: 327px;
    margin: 0 auto;
  }
  &__tab {
    .tab__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 5px;
      margin-bottom: 86px;
      a {
        font-weight: 600;
        font-size: 20px;
        line-height: calc(25 / 20);
        padding: 13px 25px;
        color: $gray1e;
        &:hover,
        &.active {
          background-color: $gray1e;
          color: $primary-yellow;
          border-radius: 12px;
        }
      }
    }
    .tab__content {
      margin-bottom: 40px;
      .content-list {
        display: flex;
        align-items: center;
        gap: 0 30px;
      }
      .content-image {
        margin-bottom: 13px;
      }
      .content-cate {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 17px;
        line-height: calc(22 / 17);
        color: $primary-color;
      }
      .content-title {
        font-weight: 600;
        font-size: 22px;
        color: $gray1e;
        line-height: calc(32 / 22);
      }
    }
    .tab__link {
      text-align: center;
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0 23px;
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    margin-bottom: 83px;
    &__text {
      text-align: center;
      max-width: none;
    }
    &__tab {
      .tab__nav {
        margin-bottom: 40px;
        a {
          font-weight: 500;
          font-size: 15px;
          line-height: calc(20 / 15);
          padding: 7px 17px;
        }
      }
      .tab__content {
        .content-list {
          flex-direction: column;
          gap: 30px 0;
        }
      }
      .tab__link {
        a {
          display: flex;
          padding: 20px;
          font-size: 17px;
          line-height: calc(22 / 17);
        }
      }
    }
  }
  @media screen and (max-width: 1023.98px) {
    margin-bottom: 70px;
  }
}
