.tools {
  display: block;
  background-color: $gray1e;
  padding: 70px 0;
  margin-bottom: 140px;
  @include maxWidth(767px) {
    padding: 60px 0;
    margin-bottom: 70px;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
    @include maxWidth(767px) {
      flex-direction: column;
      gap: 60px 0;
    }
  }
  &__heading {
    color: white;
  }
  &__content {
    max-width: 583px;
    flex: 1;
    @include maxWidth(767px) {
      max-width: none;
      flex: none;
      text-align: center;
    }
  }
  &__heading {
    margin-bottom: 10px;
  }
  &__desc {
    color: $grayb5;
    margin-bottom: 41px;
  }
  &__btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 19px;
    @include maxWidth(767px) {
      padding: 20px;
      display: flex;
      justify-content: center;
      font-size: 17px;
      line-height: calc(22 / 17);
    }
  }
  &__image {
    max-width: 400px;
  }
  @media screen and (max-width: 1023.98px) {
    margin-bottom: 70px;
  }
}
