$body-color: #fdf9f1;
$body-width: 1440px;
$container-width: 1010px;
$gap: 15px;
$primary-font: "Sora", sans-serif;
$secondary-font: "DM Sans", sans-serif;
$primary-color: #00bd82;
$primary-yellow: #e2f471;
$gray1e: #1e1e1e;
$grayb5: #b5b3af;
$gray54: #545454;
$gar4f: #4f4d49;
$gray7d: #7d7d7d;
$gardc: #dcd4c5;
$gar7f: #7f7d79;
$garab: #ababab;
